@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --btn_gradient_1: linear-gradient(to right, #75b7f9, #4681bc);
  --btn_gradient_2: linear-gradient(to right, #75f9b2, #21da6b);
  --btn_gradient_3: linear-gradient(to right, #ea6f67, #df362b);
  --bordercolor1: #75b7f9;
  --bordercolor2: #77f175;
  --bordercolor3: #ff8383;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  background-color: rgb(216, 216, 216);
}

/* header */
header {
  color: white;
  padding: 10px 0;
}

.navbar-brand {
  margin-left: 20%;
}

/* MODAL CSS */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  /* text-align: center; */
}

.modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #fffdef;
  width: 500px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-left,
.arrow-right {
  flex: 1;
  text-align: center;
}

.imgNav-item {
  flex: 1;
  text-align: center;
  margin-top: 50px;
}

.modal img {
  width: 80%;
  max-height: 80%;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.modal .info-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}
.poke-col {
  flex: 1 1 auto; /* Faz com que as colunas tenham a mesma largura */
  margin: 0.5rem; /* Margem entre as colunas */
  max-width: calc(33.333% - 1rem); /* Define a largura máxima de cada coluna */
}
.imgNav-container {
  width: 100%;
  display: flex;
  align-items: center; /* Alinha verticalmente as setas */
  justify-content: center; /* Alinha horizontalmente as setas */
}

.modal .info-item {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #62d5b4;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
}

/* Cores específicas para cada item */
.modal .info-item:nth-child(1) {
  gap: 0;
  margin: 0;
  background-color: #f6bd20;
}

.modal .info-item:nth-child(2) {
  gap: 0;
  margin: 0;
  background-color: #ea3d31;
}

.modal .info-item:nth-child(3) {
  gap: 0;
  margin: 0;
  background-color: #75b7f9;
}

.modal .info-item.last {
  gap: 0;
  margin: 0;
  align-items: flex-start;
}

.modal .info-item {
  gap: 0;
  margin: 0;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  color: black;
  width: 35px;
  height: 35px;
  background: none;
}

.modal .info-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* Pokemon Button */
.pokebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid;
  cursor: pointer; /* Adiciona cursor de ponteiro */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  outline: none;
}
.pokebutton button {
  /* Estilos para os botões */
  border: none; /* Remover a borda padrão do botão */
  outline: none; /* Remover a borda ao focar no botão */
}

button.pokebutton {
  color: aliceblue;
  font-size: larger;
  margin-top: 10px;
}

ul {
  list-style: none;
}

/* Grid PokemonList */
.pokedex-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  text-align: center;
  max-width: 1200px;
  margin: 50px auto 50px;
  align-items: stretch;
}

.pokemon-item {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pokedex-list button {
  padding: 10px;
  box-sizing: border-box;
}

.pokemonImg-list {
  max-height: 200px;
  height: auto;
  display: block;
  margin-top: 20px;
}

.pokemon-img-modal {
  max-height: 150px;
  object-fit: cover;
  text-align: center;
  display: block;
}

.pokedex-grid button {
  width: 100%;
  text-align: center;
}

/* Estilos para telas maiores que 768px */
@media (min-width: 768px) {
  .modal {
    width: 70%; /* Ajuste conforme necessário */
    max-width: 600px; /* Ajuste conforme necessário */
  }

  .modal img {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 250px; /* Ajuste conforme necessário */
  }
}

/* Estilos para telas menores que 768px (dispositivos móveis, tablets, etc.) */
@media (max-width: 767px) {
  .modal {
    width: 90%; /* Ajuste conforme necessário */
    max-width: 90%; /* Ajuste conforme necessário */
  }

  .modal img {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 200px; /* Ajuste conforme necessário */
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .modal {
    width: 90%; /* Ajuste conforme necessário */
    max-width: 90%; /* Ajuste conforme necessário */
    max-height: 80%; /* Defina uma altura máxima para evitar que o modal ocupe toda a tela */
  }

  .modal img {
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Permita que a altura da imagem seja ajustada automaticamente com base na largura */
    max-width: 100%; /* Evite que a imagem ultrapasse os limites do modal */
    max-height: 60vh; /* Defina uma altura máxima para a imagem dentro do modal */
  }
}
